/* ==UserStyle==
@name           BoxGitLab
@namespace      github.com/openstyles/stylus
@version        0.1.5
@description    0px GitLab
@author         BorderRadius0
@homepageURL    https://gitlab.com/br0/Usercss
@updateURL      https://gitlab.com/br0/Usercss/raw/master/BoxGitLab.user.css
==/UserStyle== */

@-moz-document url-prefix("https://gitlab.com") {
    .navbar-sub-nav>li>a, .navbar-nav>li>a,
    .dropdown-menu, .dropdown-menu-nav,
    .form-control, .search form,
    .btn,
    .project-repo-buttons .count-with-arrow .count, .group-buttons .count-with-arrow .count,
    .btn-missing, .project-stats .nav .btn-missing,
    .dropdown-toggle, .dropdown-menu-toggle,
    .dropdown-input-field, .default-dropdown-input,
    .info-well,
    .commit-sha-group :first-child, .commit-sha-group :last-child,
    .tooltip-inner,
    .issue-count-badge-count,
    .board-inner,
    .card-header:first-child, .card, .card-slim,
    pre, code, input,
    .gcp-signup-offer,
    .badge,
    .input-group-text,
    .landing,
    .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-search input, .select2-drop, .select2-drop.select2-drop-above,
    .settings-message,
    .billing-plans .card .card-body, .billing-plans .card-slim .card-body,
    .provider-btn-group,
    .account-well,
    .syntax-theme label .preview img,
    .page-item:last-child .page-link, .page-item:first-child .page-link,
    .ci-status,
    .file-holder,
    .status-box,
    .common-note-form .md-area,
    .issuable-show-labels a .color-label,
    .alert, .flash-container .flash-notice, .flash-container .flash-warning, .flash-container .flash-alert, .flash-container .flash-success,
    .input-group-prepend .btn, .input-group-append .btn,
    .navbar-gitlab .header-content .title a,
    .file-editor .nav-links,
    .file-holder.file-holder-bottom-radius,
    .text-expander,
    .popover,
    .user-callout .bordered-box {
        border-radius: 0;
    }

    input[type="checkbox"], input[type="radio"] {
        vertical-align: middle;
    }
    input[type="checkbox"].float-left, input[type="radio"].float-left {
        margin-top: .4em;
    }
}