/* ==UserStyle==
@name           NotMyGitHub
@namespace      github.com/openstyles/stylus
@version        0.1.1
@description    0px GitHub
@author         BorderRadius0
@homepageURL    https://gitlab.com/br0/Usercss
@updateURL      https://gitlab.com/br0/Usercss/raw/master/NotMyGitHub.user.css
==/UserStyle== */
@-moz-document url-prefix("https://github.com") {
    /* Use more area on large scrrens */
    @media screen and (min-width: 1366px) {
        .container {
            width: 1080px;
        }
    }
    /* Revert the left-right design rolled out on 2017.05.18 */
    .dashboard-sidebar {
        float: right;
    }
    /* Remove any border radius */
    *,
    [class*="rounded-"], .tooltipped::after {
        border-radius: 0 !important;
    }
    /* Exceptions for border radius */
    .notification-indicator .mail-status {
        border-radius: 50% !important;
    }
    /* Remove various backgroun gradients */
    [class^="btn"],
    [class^="btn"]:hover {
        background-image: none;
    }
    .github-jobs-promotion p {
        background-image: none;
        background-color: #e0edfa;
    }
    /* Fix vertical alignment of SVG icons in buttons */
    .btn .octicon {
        vertical-align: sub !important;
    }
}